<!DOCTYPE html>
<html class="themeColor">
  <head>
    <meta charset="utf-8">
    <title>AutoDock</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css.map">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
  </head>
  <body>
    <div class="mainContainer">
      <h1 class="title has-text-centered mainTitle">AutoDock</h1>
      <p class="has-text-centered">Continuous Docker Deployment Integration</p>
    </div>
    <br>
      <a class="button is-info buttonCenter">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>GitHub</span>
      </a>
  </body>
</html>
